.App {
  text-align: center;
}
.box_wrapper {
  margin-left: 20rem;
  width: 600px;
  height: 200px;
  border: 1px solid brown;
  margin-bottom: 2px;
  background-color: grey;
  color: #fff;
  text-transform: capitalize;
  margin-top: 2rem;
}
.text-body {
  color: #fff;
}
.btn {
  margin-left: 1rem;
  padding: 0 1rem;
  height: 2rem;
}
